@import '../../style/mixins.scss';
.customDivBody{
    p{
        margin-top: 15px;
    }
    select{
        margin-top: 20px;
    }
    button{
        @include button(orange);
        padding: 5px 20px;
        margin-left: 15px;
    }
}