@import '../../style/mixins.scss';
$headerColor : #333;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: $headerColor;
    color: white;
    display: flex;
    align-items: center;
    span{
        flex: 1;
        padding-left: 30px;
    }
    nav{
        flex: 2;
        ul{
            list-style: none;    
            display: flex;
            justify-content: center; 
            li{
                padding: 0px 30px;
                button{
                    @include button(green);
                    padding : 8px 20px
                }
                input{
                    margin-top: 5px;
                    padding: 3px 0px;
                    outline: none;
                }
                input[type="submit"]{
                    @include button(green);
                    padding: 5px 8px;
                    margin-left: 10px ;
                }
            }
        }
    }

}