@import '../../style/mixins.scss';

.listConatiner{
    background-color: lightgray;
    padding: 15px;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 3px 10px 2px gray;
    .tableRow{
        background-color: #f3f3f3;
        text-align: center;
        line-height: 45px;
        span,p{
            padding: 10px;
        }
        
        button{
            @include button(red);
            width: 100px;
            padding: 10px 8px;

        }
    }

}