.mainContainer{
    display: flex;
    flex-wrap: wrap;
}
.customDiv{
    background-color: pink;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
