
.mainContainerBody{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    .customDivBody{
        background-color: #f1f1f1;
        width: 260px;
        height: 300px;
        margin: 2px auto;
        text-align: center;
        box-shadow: 4px 2px 8px 1px gray;
        border-radius: 5px;
        padding: 20px 10px;
        &:hover{
            transform: scale(1.02);
        }
        img + h3{
            margin-top: 30px;
        }
    }
}


